@import '../../../styles/variables';

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .card-image {
    height: 190px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 5px solid $marvel-red;

    .name {
      width: calc(100% - 14px);
      height: 18px;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
      /* 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      */
    }

    .triangle {
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-bottom: 12px solid white;
    }
  }
}