<section class='comics-header bg-primary text-secondary'>
  <section class='comics-header__content'>
    <section class='comics-header__content__img-content'>
      <article
        *ngIf="character?.thumbnail?.path && character?.thumbnail?.extension"
        class='comics-header__content__img-content__img'
        [style.background-image]="
          'url(' + (character.thumbnail?.path +'.'+ character.thumbnail?.extension) + ')'
        "
      ></article>
    </section>
    <section class='comics-header__content__info bg-primary text-secondary'>
      <section class='comics-header__content__info__content__name'>
        <article *ngIf="character?.name" class='comics-header__content__info__name'>
          {{ character.name }}
        </article>
        <article
          class='comics-header__content__info__favorite'
        >
          <app-favorite-button 
            [isFavorite]="isFavorite()" 
            (click)="onToggleFavorite($event)"
          />
        </article>
      </section>
        <section 
          *ngIf="character?.description && character.description?.length" 
          class='comics-header__content__info__description'>
          {{ character.description }}
        </section>
    </section>
  </section>
  <article class='comics-header__triangle'></article>
</section>